In [1]:
import glob2
import numpy as np
import os
import shutil
import pandas as pd

In [4]:
data_dir = '/home/os/Desktop/SETA/Seta_Car/dataset_carmodels/raw_data'
train_dir = '/home/os/Desktop/SETA/PaddleOCR-Studycases/train_data'
os.mkdir(os.path.join(train_dir))
for c in os.listdir(data_dir):
    print(c)
    os.mkdir(os.path.join(train_dir, c))
    count = 0
    for img in os.listdir(os.path.join(data_dir,c)):
        img_dst = os.path.join(train_dir,c)+'/'+c+str(count)+'.png'
        shutil.copyfile(os.path.join(data_dir,c,img), img_dst)
        count=count+1

SOLUTO
SELTOS
ALTIS
GRANDi10
OUTLANDER SPORT
FADIL
COLORADO
INNOVA
SANTAFE
CX-8
MAZDA3
HILUX
CR-V
CROSS
OUTLANDER
SEDONA
TRITON
CX7
SORENTO
MAZDA6
EVEREST
CX-3
CITY
LUX A2.0
CERATO
ELANTRA
K3
NAVARA
MAZDA5
ECOSPORT
FORTUNER
RANGER
i10
LUX SA2.0
ISUZU
CARNIVAL
TUCSON
Rush
morning
YARIS
XL7
KONA
BT-50
D-MAX
TEANA
VIOS
CIVIC
Attrage
LUX A2.0 TURBO
CX-7
ACCENT
MAZDA2
XPANDER
CX8
LUX SA2.0 TURBO
CAMRY
CX-5
SUNNY

In [5]:
dict_imgs = {}
for c in os.listdir(train_dir):
    dir_path = os.path.join(train_dir,c)
    if dir_path[-3:] != 'txt':
        count = len([entry for entry in os.listdir(dir_path) if os.path.isfile(os.path.join(dir_path, entry))])
        
        dict_imgs[c] = len([entry for entry in os.listdir(dir_path) if os.path.isfile(os.path.join(dir_path, entry))])

In [10]:
data_statistics = pd.DataFrame.from_dict(dict_imgs, orient='index')
data_statistics.columns = ['Num_of_imgs']
data_statistics.sort_values(by='Num_of_imgs')

                 Num_of_imgs
MAZDA5                     2
CX-7                       2
CX-8                       2
SUNNY                      7
MAZDA2                    11
OUTLANDER SPORT           14
i10                       17
LUX SA2.0 TURBO           18
CX-3                      19
CX7                       22
INNOVA                    23
morning                   24
SANTAFE                   25
TEANA                     27
ISUZU                     28
GRANDi10                  28
NAVARA                    29
LUX A2.0 TURBO            29
MAZDA6                    29
ALTIS                     30
CAMRY                     31
SELTOS                    31
CITY                      31
YARIS                     33
KONA                      34
CERATO                    34
XPANDER                   35
TUCSON                    37
CROSS                     38
CR-V                      38
CARNIVAL                  38
VIOS                      40
CX-5                      41
CX8                       43
SEDONA                    45
K3                        47
XL7                       47
Rush                      48
FADIL                     49
ACCENT                    50
FORTUNER                  51
Attrage                   52
OUTLANDER                 52
MAZDA3                    53
BT-50                     54
D-MAX                     57
ECOSPORT                  59
SOLUTO                    60
ELANTRA                   64
CIVIC                     64
SORENTO                   64
EVEREST                   65
COLORADO                  66
TRITON                    69
LUX SA2.0                 78
RANGER                    85
HILUX                    101
LUX A2.0                 111

In [13]:
train_dir = '/home/os/Desktop/SETA/PaddleOCR-Studycases/train_data'
with open(train_dir+'/rec_carmodels.txt', 'w') as f:
    for c in os.listdir(train_dir):
        if c!= 'rec_carmodels.txt':
            for img in os.listdir(os.path.join(data_dir,c)):
                f.write('train_data/'+c+'/'+img+'\t'+c+"\n")

In [1]:
with open('rec_carmodels.txt', 'w') as f:
    f.write('Create a new text file!')
for ext in ["*.png", "*.jpeg", "*.jpg"]:
  images = glob2.glob(os.path.join("dataset/img/", ext))