In [1]:
import numpy as np
import os
import shutil
import pandas as pd
import shutil

In [3]:
data_dir = '/home/os/Desktop/SETA/Seta_Car/dataset_carmodels/raw_data'
train_dir = '/home/os/Desktop/SETA/Seta_Car/PaddleOCR/train_data'
for c in os.listdir(data_dir):
    print(c)
    os.mkdir(os.path.join(train_dir, c))
    count = 0
    for img in os.listdir(os.path.join(data_dir,c)):
        img_dst = os.path.join(train_dir,c)+'/'+c+str(count)+'.png'
        shutil.copyfile(os.path.join(data_dir,c,img), img_dst)
        count=count+1

SOLUTO
SELTOS
ALTIS
GRANDi10
OUTLANDER SPORT
INNOVA
SANTAFE
CX-8
MAZDA3
CR-V
CROSS
OUTLANDER
MAZDA6
EVEREST
CX-3
CITY
CERATO
MAZDA5
ECOSPORT
FORTUNER
RANGER
i10
ISUZU
CARNIVAL
TUCSON
morning
YARIS
KONA
D-MAX
TEANA
VIOS
CIVIC
Elantra
CX-7
ACCENT
MAZDA2
XPANDER
CAMRY
CX-5
SUNNY

In [19]:
dict_imgs = {}
train_dir = '/home/os/Desktop/SETA/Seta_Car/PaddleOCR/train_data'
for c in os.listdir(train_dir):
    dir_path = os.path.join(train_dir,c)
    if dir_path[-3:] != 'txt':
        count = len([entry for entry in os.listdir(dir_path) if os.path.isfile(os.path.join(dir_path, entry))])
        
        dict_imgs[c] = len([entry for entry in os.listdir(dir_path) if os.path.isfile(os.path.join(dir_path, entry))])

In [21]:
dict_imgs

{'SOLUTO': 3,
 'SELTOS': 31,
 'ALTIS': 29,
 'GRANDi10': 28,
 'OUTLANDER SPORT': 14,
 'INNOVA': 23,
 'SANTAFE': 25,
 'CX-8': 2,
 'MAZDA3': 49,
 'CR-V': 38,
 'CROSS': 38,
 'OUTLANDER': 52,
 'MAZDA6': 6,
 'EVEREST': 65,
 'CX-3': 15,
 'CITY': 31,
 'CERATO': 34,
 'ELANTRA': 64,
 'MAZDA5': 2,
 'ECOSPORT': 59,
 'FORTUNER': 51,
 'RANGER': 85,
 'i10': 17,
 'ISUZU': 28,
 'CARNIVAL': 38,
 'TUCSON': 37,
 'morning': 24,
 'YARIS': 33,
 'KONA': 21,
 'D-MAX': 57,
 'TEANA': 2,
 'VIOS': 40,
 'CIVIC': 64,
 'CX-7': 2,
 'ACCENT': 50,
 'MAZDA2': 7,
 'XPANDER': 35,
 'CAMRY': 31,
 'CX-5': 40,
 'SUNNY': 1}

In [18]:
pd.DataFrame.from_dict(dict_imgs, orient='index')

            0
SELTOS     31
ALTIS      29
GRANDi10   28
INNOVA     23
SANTAFE    25
MAZDA3     49
CR-V       38
CROSS      38
OUTLANDER  52
EVEREST    65
CITY       31
CERATO     34
ELANTRA    64
ECOSPORT   59
FORTUNER   51
RANGER     85
i10        17
ISUZU      28
CARNIVAL   38
TUCSON     37
morning    24
YARIS      33
KONA       21
D-MAX      57
VIOS       40
CIVIC      64
ACCENT     50
XPANDER    35
CAMRY      31
CX-5       40

In [5]:
data_dir = '/home/os/Desktop/SETA/Seta_Car/PaddleOCR/train_data'
with open('/home/os/Desktop/SETA/Seta_Car/PaddleOCR/train_data/rec_carmodels.txt', 'w') as f:
    for c in os.listdir(data_dir):
        if c!= 'rec_carmodels.txt':
            for img in os.listdir(os.path.join(data_dir,c)):
                f.write('train_data/'+c+'/'+img+'\t'+c+"\n")

In [1]:
with open('rec_carmodels.txt', 'w') as f:
    f.write('Create a new text file!')
for ext in ["*.png", "*.jpeg", "*.jpg"]:
  images = glob2.glob(os.path.join("dataset/img/", ext))

### Create label for lisence plate

In [4]:
path_train_data = '/home/os/Desktop/SETA/PaddleOCR-Studycases/train_data_lisenceplate_27112022'
with open('/home/os/Desktop/SETA/PaddleOCR-Studycases/rec_lisenceplate-update.txt', 'w') as f:
    for img_name in os.listdir(path_train_data):
        if img_name!= 'rec_lisenceplate.txt':
            lable = img_name.split('_')[-1][:-4]
            f.write('train_data_lisenceplate/'+img_name+'\t'+lable+"\n")

In [7]:
path_train_data = '/home/ubuntu/ds-veritone-energy/nhung/PaddleOCR-Studycases/train_data_lisenceplate'
with open('/home/ubuntu/ds-veritone-energy/nhung/PaddleOCR-Studycases/rec_lisenceplate-update.txt', 'w') as f:
    for img_name in os.listdir(path_train_data):
        if '_' not in img_name:
            label = img_name.split('-')[0]
            if 'png' in label:
                label = label[:-4]
        else:
            label = img_name.split('_')[-1][:-4]

        #shutil.copyfile(os.path.join('/home/os/Desktop/SETA/Seta_Car/Dataset_Bienso',img_name), os.path.join(path_train_data,img_name))
        f.write('train_data_lisenceplate/'+img_name+'\t'+label+"\n")

In [5]:
text = '7-Screenshot from 2022-09-12 09-46-55.png'
text.split('-')[0]

'7'

In [18]:
with open('/home/os/Desktop/SETA/PaddleOCR-Studycases/rec_lisenceplate.txt', 'r') as f:
    Lines = f.readlines()
  
    count = 0
    # Strips the newline character
    for line in Lines:
        count += 1
        label = line.strip().split('\t')[-1]
        if 'png' in lable or 'jpg' in label:
            print(line.strip().split('\t')[0])
print(count)

4052